.categories_content_wrapper {
  width: 80vw;
  margin: 3rem auto;
  margin-bottom: 5rem;
}

.categories_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  padding-bottom: 2rem;
}
.categories_top h2{
  font-weight: 600;
}

.categories_icons_Wrapper{
  display: flex;
  gap: 0.5rem;
}
.categories_icons_Wrapper ion-icon{
  font-size: 1.8rem;
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
}

.categories_items_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.catrgory_item {
  border: 1px solid #4caf50;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}
.catrgory_item h3{
  font-weight: 600;
}

.catrgory_item ion-icon {
  font-size: 5rem;
  margin-bottom: 0.4rem;
  color: #4caf50;
}

@media (max-width: 1100px) {
  .categories_content_wrapper {
    width: 90vw;
  }
  .categories_items_wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    margin: auto;
  }
}

@media (max-width: 620px) {
  .categories_items_wrapper {
    width: 80vw;
  }
}

@media (max-width: 460px) {
  .categories_top {
    flex-direction: column;
    gap: 1.5rem;
  }
  .categories_items_wrapper {
    width: 50vw;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 380px) {
  .categories_items_wrapper {
    width: 52vw;
  }
}
