.homepage_hero {
  background-image: url(../../Assets/Images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;

  display: flex;
  align-items: center;
}

.hero_content_wrapper {
  width: 85vw;
  margin: auto;
  color: white;
}
.homepage_hero h1 {
  font-size: 2.1rem;
  line-height: 1.5;
  width: 60%;
  margin-bottom: 0.5rem;
}

.hero_buttons_wrapper {
  display: flex;
  gap: 0.5rem;
}

.colored_btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.3rem 1rem;
  background-color: #4caf50;
  color: white;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.1rem;
}
.btn {
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

@media (max-width: 1150px) {
  .homepage_hero h1 {
    font-size: 1.8rem;
    width: 50%;
  }
  br {
    display: none;
  }
}

@media (max-width: 960px) {
  .hero_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homepage_hero h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  br {
    display: none;
  }
}

@media (max-width: 900px) {
  .homepage_hero h1 {
    width: 70%;
  }
}

@media (max-width: 620px) {
  .homepage_hero h1 {
    width: 85%;
    font-size: 1.4rem;
  }
}

@media (max-width: 520px) {
  .homepage_hero h1 {
    width: 90%;
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .homepage_hero h1 {
    width: 95%;
    font-size: 1.1rem;
    line-height: 2.3;
  }
}
