.homepage_hero{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



}


.hero_buttons_wrapper{
    display: flex;
    display: 0.5rem;
}