.cta_section {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.253),
      rgba(0, 0, 0, 0.308),
      rgba(0, 0, 0, 0.308)
    ),
    url("../../Assets/Images/cta-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 80vh;
  width: 90vw;
  margin: 5rem auto;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
}

.cta_contentwrapper {
  width: 45%;
  padding: 4rem;
}

.cta_contentwrapper h1 {
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.cta_contentwrapper p {
  line-height: 1.8;
  font-size: 1.15rem;
  margin-top: 0.3rem;
}

.cta_contentwrapper button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0.4rem; 
  background-color: #4caf50;
  color: white;
  margin-top: 0.3rem;
}


@media (max-width: 1000px) {
  .cta_section {
    height: 60vh;
  }
  .cta_contentwrapper {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: white;
  }
  .cta_section {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.432),
        rgba(0, 0, 0, 0.568),
        rgba(0, 0, 0, 0.473)
      ),
    url("../../Assets/Images/cta-bg.jpg");
  }
}

@media (max-width: 900px) {
  .cta_contentwrapper {
    width: 75%;
  }
}

@media (max-width: 730px) {
  .cta_contentwrapper {
    width: 85%;
  }
}

@media (max-width: 730px) {
  .cta_contentwrapper {
    width: 85%;
  }
}

@media (max-width: 620px) {
  .cta_section {
    height: 50vh;
  }
  .cta_contentwrapper {
    width: 95%;
    padding: 1rem;
  }
  .cta_contentwrapper h1 {
    font-size: 1.2rem;
  }
  .cta_contentwrapper p {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .cta_section {
    height: 40vh;
  }
  .cta_contentwrapper {
    width: 100%;
  }
  .cta_contentwrapper h1 {
    font-size: 1rem;
  }
  .cta_contentwrapper p {
    font-size: 0.9rem;
  }
}
