.main_area{
    padding: 2rem; 
    width: 80vw;

    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
}
.main_area > h2{
    padding-left: 0.3rem;
    font-weight: bold;
}

.feesbacks_box_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.feedback_box{
    background-color: #efefef;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.feedback_box h3{
    font-weight: bold;
}
.feedback_box p{
    line-height: 2;
}
.review_btn{
    padding: 0.7rem 0;
    border-radius: 0.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.stars_wrapper{
    color: #4caf50;
}