.dashboard_main { 
  margin: auto;
  display: flex;
}
.dashboard_body{ 
  overflow: hidden;
}
 
 

.cotact_details_box{
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.details_box{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 0.3rem;
  background-color: #efefef;
  padding: 1rem;
  width: 100%;
}
.details_box div{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}