.dashboard_main { 
  margin: auto;
  display: flex;
}
.dashboard_body{ 
  overflow: hidden;
}
 
 



.dashboard_end{
  width: 21vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.dashboard_end > h3{
  font-size: 1.3rem;
  font-weight: 600;
}
.cotact_details_box{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

}

.details_box{
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border-radius: 0.3rem;
  background-color: #efefef;
  padding: 1rem;
  width: 100%;
}
.details_box div{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.97rem;
}

.decor_img_wrapper{
  width: 100%;
  height: 40vh;
  border-radius: 0.4rem;
  overflow: hidden;
}
.decor_img_wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vendor_btn{
  padding: 0.7rem 0;
  border: none;
  outline: none;
  color: white;
  background: #4caf50;
  font-size: 1rem;
  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

@media (max-width: 1050px) {
  .dashboard_end{
    display: none;
  }
}