.signup_form_section {
  padding: 4rem 0;
}

.from_content_wrapper {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background-color: rgb(231, 231, 231);
  border-radius: 1rem;
  overflow: hidden;
  /* align-items: center; */
}

.alinged{
  align-items: center !important;
}

.signup_form_img_wrapper {
  width: 100%;
  height: 60vh;
}

.form_img_wrapper {
  width: 100%;
  height: 80vh;
}
.form_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form_action_box {
  padding: 1rem 0;
  padding-right: 2rem;
}
.form_action_box h2 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.input_box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.6rem;
}
.input_box input {
  padding: 0.5rem 0.5rem;
  font-size: 1.1rem;
  outline: 0;
  border: 1px solid #a1a0a0;
  border-radius: 0.4rem;
}
.input_box input:placeholder-shown {
  font-size: 1rem;
}

.form_action_box button {
  width: 100%;
  font-size: 1.05rem;
  margin-top: 0.9rem;
  padding: 0.4rem 0;
  border: 0;
  outline: 0;
  color: white;
  background-color: #4caf50;
  border-radius: 0.4rem; 
  cursor: pointer;
}

.login_action {
  display: block;
  text-align: center;
  margin-top: 0.9rem;
}



@media (max-width: 950px) {
  .from_content_wrapper{
    width: 70vw;
  }
}


@media (max-width: 830px) {
  .from_content_wrapper{
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .from_content_wrapper{
    width: 85vw;
  }
}

@media (max-width: 635px) {
  .from_content_wrapper{
    width: 75vw;
    grid-template-columns: repeat(1, 1fr);
  }
  .form_img_wrapper{
    height: 50vh;
  }
  .form_action_box{
    padding: 1rem !important;
    padding-bottom: 1.5rem !important;
  }
}

@media (max-width: 500px) {
  .from_content_wrapper{
    width: 90vw;
  }
}