.sidebar{
    background-color: rgb(236, 236, 236);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 20vw;
    height: 70vh; 
}

.sidebar ul{
    line-height: 2;
    margin-left: 1rem;
    list-style: none;
} 
