.sidebar{
    background-color: rgb(216, 216, 216);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 20vw;
    height: 70vh;
}

.sidebar ul{
    line-height: 1.8;
    margin-left: 1.3rem;
    list-style: none;
}