.features_section {
  padding: 6rem 0;
  background-color: #f0c762;
}

.features_cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  margin: auto;
  gap: 1.5rem;
}

.fature_card {
  background-color: white;
  padding: 3rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.fature_card ion-icon {
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
}
.fature_card p {
  line-height: 2;
  font-size: 1.15rem;
  color: rgb(87, 87, 87);
}

@media (max-width: 1150px) {
  .features_cards_wrapper {
    width: 90vw;
  }
}

@media (max-width: 1060px) {
  .features_cards_wrapper {
    width: 70vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 970px) {
  .features_cards_wrapper {
    width: 80vw;
  }
}

@media (max-width: 830px) {
  .features_cards_wrapper {
    width: 50vw;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 715px) {
  .features_cards_wrapper {
    width: 60vw;
  }
}

@media (max-width: 555px) {
  .features_cards_wrapper {
    width: 70vw;
  }
}

@media (max-width: 470px) {
  .features_cards_wrapper {
    width: 80vw;
  }
}

@media (max-width: 420px) {
    .features_cards_wrapper {
        width: 85vw;
    }
  .fature_card {
    padding: 2rem 1rem;
  }
  .fature_card p {
    font-size: 1rem;
  }
}
