.checkout_hero{
    background-image: url(https://images.ctfassets.net/wowgx05xsdrr/8gI1Xg0G9RvLrhjhMMpzD/58e4e653a245fd40d2f897b95006120b/checkout-optimization-header.jpg?fm=webp&w=3840&q=75);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}