.checkout_hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.542)), url(https://images.ctfassets.net/wowgx05xsdrr/8gI1Xg0G9RvLrhjhMMpzD/58e4e653a245fd40d2f897b95006120b/checkout-optimization-header.jpg?fm=webp&w=3840&q=75);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 45vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}