.checkout_body{
    padding: 5rem 0;
}


.checkout_content_wrapper{
    margin: auto;
    background-color: rgb(245, 246, 247);
    width: 50vw;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.checkout_content_wrapper h2{
    text-align: center;
}


.empty_cart_notice{
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

    /* display: none; */
}

.empty_cart_notice button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}


.items_list{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.item{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: white;
    padding: 1rem;
}
.item_img_wrapper{
    width: 13rem;
    height: 6rem;
}
.item_img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item ion-icon{
    font-size: 1.5rem;
    cursor: pointer;
}


.item_text_wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.item_text_wrapper h3{
    font-weight: bold;
}


.checkout_btn_wrapper{
    margin: 1rem auto;

    display: flex;
    justify-content: center;
}
.checkout_btn_wrapper button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin: auto;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.checkout_details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.checkout_details input{
    padding: 0.5rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 0.3rem;
}
.error {
  color: red;
  font-size: 0.875rem; /* Optional: slightly smaller text */
  margin: 4px 0;
}






.checkout_modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.611);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    backdrop-filter: blur(7px);
}
.modal_content_wrapper{
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
.modal_content_wrapper ion-icon{
    font-size: 4.5rem;
    color: #159f1a;
}
.modal_content_wrapper button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin: auto;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .checkout_content_wrapper{
        width: 70vw;
    }
}

@media (max-width: 880px) {
    .checkout_content_wrapper{
        width: 80vw;
    }
    .modal_content_wrapper{
        width: 40vw;
    }
}

@media (max-width: 750px) {
    .checkout_content_wrapper{
        width: 90vw;
    }
    .modal_content_wrapper{
        width: 50vw;
    }
}

@media (max-width: 560px) {
    .modal_content_wrapper{
        width: 60vw;
    }
}

@media (max-width: 540px) {
    .item{
        justify-content: space-between;
    }
    .item_text_wrapper{
        flex: 1;
    }
    .item_text_wrapper p{
        display: none;
    }

    .item_img_wrapper{
        width: 10rem;
    }
}


@media (max-width: 530px) {
    .item_img_wrapper{
        width: 8rem;
    }
    .modal_content_wrapper{
        width: 70vw;
    }
}


@media (max-width: 420px) {
    .item_img_wrapper{
        width: 6rem;
        height: 5rem;
    }

    .item_text_wrapper h3{
        font-size: 1rem;
    }
    .modal_content_wrapper{
        width: 80vw;
    }
}

@media (max-width: 380px) {
    .modal_content_wrapper{
        width: 90vw;
    }
}
@media (max-width: 360px) {
    .checkout_content_wrapper{
        width: 95vw;
    }
    .item_img_wrapper{
        width: 5rem;
    }
}