.checkout_body{
    padding: 5rem 0;
}


.checkout_content_wrapper{
    margin: auto;
    background-color: rgb(245, 246, 247);
    width: 50vw;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.checkout_content_wrapper h2{
    text-align: center;
}


.empty_cart_notice{
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.empty_cart_notice button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    background-color: #4caf50;
    color: white;
}