.page_container{
    overflow-y: scroll;
    padding: 1rem 1rem;
    width: 60vw;
    height: 90vh;
    padding-bottom: 4rem;
}
.dashboard_cards_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.product_display_top{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.product_display_top h3{
    font-weight: 600;
}

.product_display_top input{
    font-size: 1.1rem;
    border-radius: 0.3rem;
    border: 1px solid #d8d7d7;
    padding: 0.3rem 0.6rem;
    outline: none;
    width: 17vw;
} 


.product_display_top input:placeholder-shown{
    font-size: 1rem;
}


.banner_Img_wrapper{
    width: 100%;
    height: 40vh;
    border-radius: 0.8rem;
    overflow: hidden;
}
.banner_Img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 1100px) {
    .page_container{
        width: 75vw;
    }
}